@use 'src/ticketing/booking/theme';
@use 'src/ticketing/booking/common' as common;



.calendar {
  width: 90%;
  margin: auto;
.header {
    @include common.flex-row(space-between, baseline);
.col.col-first {
    @include common.flex-column(center, flex-start);
}

.col.col-end {
    align-items: center;
    width: 50px;
    justify-content: center;
    height: 20px;
    display: flex;
    margin: 0 auto;
    margin-bottom: 4%;

svg {
    height: 20px;
    color: transparentize(gray, 0.2);

&:hover {
     @include common.hover-event();
     transform: scale(1.15);
     color: theme.$dark-gray-color;
 }
}
}
}
.days {
    @include common.size(100%, fit-content);
    @include common.flex-row(space-between, center);
    font-weight: 500;
    font-size: 0.3em;
    text-align: center;
    margin: auto;
    align-items: center;
    color: theme.$dark-gray-color;
    font-size: 15px;
.col {
    background: gainsboro;
    border-radius: 25px;
    height: 50px;
    font-size: 15px;
    line-height: 45px;
    font-style: italic;
    margin-bottom: 5px;
}
}
.body {
    @include common.size(100%, 100%);
    @include common.flex-column();
.row {
    @include common.size(100%, 100%);
    @include common.flex-row(space-between, center);
.col {
    @include common.size(100%, 100%);
    @include common.flex-row(flex-start, flex-start);

    border: 0.4px solid transparentize(gray, 0.4);
    border-radius: 25px;
    font-size: 0.3em;
    text-align: center;



span {
  text-align: center;
  vertical-align: center;
  margin: 0 auto;

}

.not-valid {
    color: theme.$gray-color;
    text-align: center;
    align-items: center;
    line-height: 45px;
    margin: 0 auto;
    height: 48px;
    border-radius: 25px;

}
img {
    opacity: 0.1;
}
}
.col.cell.valid {
  height: 50px;
  margin: 0 auto;
  align-items: center;
  border-radius: 25px;


&:hover {
     @include common.hover-event();
     @include common.shadow(1.5px, theme.$dark-gray-color, 0.1);
     transform: scale(1.01);
     border: none;
     background: transparentize(theme.$gray-color, 0.5);
 }
}
.col.cell.selected {
    margin: 0 auto;
    height: 50px;
    background: lightgrey;
    color: black;
    align-items: center;
    border-radius: 25px;
}
}
}
}

