@use 'src/ticketing/booking/theme';
@use 'src/ticketing/booking/common' as common;



.calendar {
  width: 100%;
  margin: auto;
.header {
    @include common.flex-row(space-between, baseline);
.col.col-first {
    @include common.flex-column(center, flex-start);
}
  .col.col-start{
    height: 50px;
  }

.col.col-end {
    align-items: center;
    width: 50px;
    justify-content: center;
    height: 20px;
    display: flex;
    margin: 0 auto;
    margin-bottom: 4%;

svg {
    height: 20px;
    color: transparentize(black, 0.2);

&:hover {
     @include common.hover-event();
     transform: scale(1.15);
     //color: theme.$dark-gray-color;
  color: black;
 }
}
}
}
.days {
    @include common.size(100%, fit-content);
    @include common.flex-row(space-between, center);
    font-weight: 500;
    font-size: 0.3em;
    text-align: center;
    margin: auto;
    align-items: center;
    //color: theme.$dark-gray-color;
    font-size: 15px;
.col {
    //background: gainsboro;
    height: 50px;
    font-size: 15px;
    line-height: 45px;
    //font-style: italic;
}
}
.body {
    @include common.size(100%, 100%);
    @include common.flex-column();
.row {
    @include common.size(100%, 100%);
    @include common.flex-row(space-between, center);
.col {
    @include common.size(100%, 100%);
    @include common.flex-row(flex-start, flex-start);

    //border: 0.4px solid transparentize(gray, 0.4);
    font-size: 0.3em;
    color: white;
    margin: 0 auto;
    padding: 0;
    justify-content: center;
    width: 50px;
    height:50px;
    align-items: center;
    //background-color: transparentize(black, 0.6);
    //background-color: black;




span {
  text-align: center;
  vertical-align: center;
  margin: 0 auto;

}



.not-valid {
    //background-color: theme.$gray-color;
    text-align: center;
    align-items: center;
    line-height: 45px;
    margin: 0 auto;
    //height: 50px;
    border-radius: 25px;
    justify-content: center;

}
img {
    opacity: 0.1;
}
}
.col.cell.valid {
  height: 50px;
  margin: 0 auto;
  align-items: center;
  //border-radius: 10px;
  //background-color: theme.$dark-gray-color;
  background-color: white;
  color: black;
  justify-content: center;


&:hover {
     @include common.hover-event();
     //@include common.shadow(1.5px, theme.$dark-gray-color, 0.1);
     transform: scale(1);
     border: none;
     background: transparentize(theme.$gray-color, 0.5);
     justify-content: center;
 }
}
.col.cell.selected {
  //@include common.shadow(1.5px, theme.$dark-gray-color, 0.1);
    margin: 0 auto;
    height: 50px;
    //background: lightgrey;
    background: transparentize(theme.$gray-color, 0.5);
    color: black;
    align-items: center;
    //border-radius: 10px;
    justify-content: center;

}
  .col.cell.disabled {
    opacity: 0.2;
    color:black;
    background-color: aliceblue;
    //background-color: lightslategrey;
    cursor: default;


  }


}
}
}
