@use 'src/ticketing/booking/theme';
@use 'src/ticketing/booking/common' as common;

.calendar {
.header {
    @include common.flex-row(space-between, baseline);
.col.col-first {
    @include common.flex-column(center, flex-start);
    margin-left: 1%;
.text {
    font-size: 0.1em;
}
.text.month {
    margin-right: 5px;
    font-size: 10px;
    font-weight: 600;
}



}
.col.col-end {
    @include common.size(20%, 100%);
svg {
    @include common.size(11%, fit-content);
    margin-left: 5%;
    color: transparentize(gray, 0.2);
&:hover {
     @include common.hover-event();
     transform: scale(1.15);
     color: theme.$dark-gray-color;
 }
}
}
}
.days {
    @include common.size(100%, fit-content);
    @include common.flex-row(space-between, center);
    font-weight: 600;
    font-size: 0.3em;
    text-align: center;
    margin: auto;
    color: theme.$dark-gray-color;
.col {
    padding-left: 1%;
    background: transparentize(theme.$step-color, 0.6);
    border-radius: 10px;
}
}
.body {
    @include common.size(100%, 89%);
    @include common.flex-column();
.row {
    @include common.size(100%, 100%);
    @include common.flex-row(space-between, center);
.col {
    @include common.size(13.5%, 93%);
    @include common.flex-row(flex-start, flex-start);

    border: 0.4px solid transparentize(gray, 0.4);
    border-radius: 15px;
    font-size: 0.3em;
span {
    margin: 4px 0 0 4px;
}
.not-valid {
    color: theme.$gray-color;
}
img {
    opacity: 0.1;
}
}
.col.cell.valid {
&:hover {
     @include common.hover-event();
     @include common.shadow(1.5px, theme.$dark-gray-color, 0.1);
     transform: scale(1.01);
     border: none;
     background: transparentize(theme.$gray-color, 0.5);
 }
}
.col.cell.selected {
    @include common.shadow(1.5px, theme.$main-color, 0.1);
    transform: scale(1.02);
    border: none;
    background: theme.$sub-color;
    color: theme.$main-color;
    font-weight: 600;
}
}
}
}

