.mvbtn {
    background-color: white;
}
/*.mvbtn:focus{*/
/*    background-color: gray;*/
/*}*/

.mvbtn:hover{
    background-color: gray;

}

.mvbtn1{
    color:gray;
}


.mvbtn1:hover{
    color: black;
}

.txt{
    text-align: left;
    pointer-events : none;
    float: right;
}

/*.mvcolor{*/
/*    background-color: wheat;*/
/*}*/
.select__movieTitleDefault {
    background-color: white;
}

.select__movieTitleDefault:hover {
    background-color: #f3f3f3;
}

.select__movieTitleClicked {
    background-color: gray;
    color: white;
}



