/* MainPage */
.Home{
    background-color: white;
    width: 1000px;
    height: 1500px;
    margin: auto;

    position: relative;
}
.boxoffice{
    float: left;
    margin-top: 20px;
    margin-left: 27%;
    padding-top: 40px;
    width: 450px;
    height: 250px;
    color: white;
    background-color: black;
    border: 1px solid black;
    text-align: center;
    vertical-align: center;
}
.swiper-button-prev::after,.swiper-button-next::after {
    color: black;
}



/* 여기까지 메인페이지 css 입니다 */
