div.mypage-div {
    display: block;
    width: 1500px;
    height: 1500px;
    margin: 0 auto;
    position: relative;
    /*background-color: whitesmoke;*/
}

.upper-info-div {
    display: flex;
    padding-left: 50px;
    padding-top: 50px;
}

.photo-div {
    position : relative;
    width: 400px;
    height: 400px;
}

img.profile-photo {
    width: 400px;
    height: 400px;
    border-radius: 30%;
}

.photo-div .photo-fix-icon {
    border-radius: 100%;
    background-color: yellow;
    position : absolute;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
}

div.mypage-info-wrap {
    border-radius: 30px;
    background-color: lightgray;
    position : relative;
    width: 900px;
    margin-left: 100px;
    height: 400px;
    color: black;
}

.mypage-info-wrap .person-info * {
    display: inline-block;
    margin-right: 8px;
    color: #342929;
    font-weight: 500;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

.mypage-info-wrap .person-info .person-info-name {
    width: 300px;
    font-size: 50px;
}

.mypage-info-wrap .person-info .person-info-id {
    width: 200px;
    font-size: 25px;
}

.mypage-info-wrap .person-info .person-info-nickname {
    width: 300px;
    font-size: 25px;
}

.mypage-info-wrap .person-info {
    width: 820px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}

.mypage-info-wrap .benefit-info {
    display: flex;
    margin-top: 30px;
    margin-left: 5%;
    width: 90%;
    height: 200px;
}

.mypage-info-wrap .benefit-info ul {
    margin-top: 20px;
    list-style: none;
}

.mypage-info-wrap .benefit-info h3 {
    font-weight: 900;
    font-size: 35px;
    text-align: center;
    vertical-align: middle;
}

.mypage-info-wrap .benefit-info ul li {
    display: inline-block;
    font-size: 20px;
    height: 30px;
    width: 80%;
    margin-top: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
    line-height: 20px;
}

.benefit-info .col-my-coupon {
    width: 50%;
    height: 100%;
    border-right: 1px solid black;
}

.benefit-info .col-my-point {
    width: 50%;
    height: 100%;
}

.benefit-info span.benefit-li-count {
    float: right;
}

div.lower-info-div {
    display: flex;
    width: 1300px;
    height: 900px;
    margin: 50px auto 0;
}

div.lower-info-div .sidebar-menu {
    background-color: Gainsboro;
    width: 400px;
    height: 100%;
}

div.lower-info-div .sidebar-menu ul {

}

.sidebar-menu .sidebar-menu-title {
    margin-top: 30px;
    text-align: center;
    height: 110px;
    vertical-align: center;
    font-size: 50px;
}

b.sidebar-menu-subtitle {
    margin-top: 10px;
    font-size: 35px;
    height: 100px;
}

.sidebar-menu li {
    width: 280px;
    font-size: 20px;
    list-style: none;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding-left: 10px;
}

.menu-items {
    cursor: pointer;
}

.menu-items:hover {
    background-color: silver;
    box-shadow: darkgray 3px 3px 3px;
}


div.lower-info-div .mypage-contents {
    width: 900px;
    height: 100%;
}

div.mypage-contents-title{
    width: 90%;
    height: 70px;
    font-size: 25px;
    border-bottom: 3px solid black;
}

.mypage-contents-div {
    width: 100%;
    margin-left: 100px;
    margin-top: 30px;
}

div.changeUserInfo {
}

table.user-basic-info-table {
    width: 90%;
}

table.user-basic-info-table tr {
    height: 70px;
    line-height: 70px;
    border-bottom: 1px solid lightgray;
}

table.user-basic-info-table td input{
    margin-left: 50px;
    width: 350px;
}

table.user-basic-info-table th{
    padding-left: 30px;
    font-size: 20px;
    width: 250px;
    background-color: lightblue;
}

.error-msg {
    margin-top: 30px;
}

table.mypage-table {
    width: 90%;
    margin-top: 50px;
    text-align: center;
}

table.mypage-table thead th {
    background-color: #e2e2e0;
    font-size: 20px;
    width: auto;
    height: 100px;
}

table.mypage-table tbody tr{
    height: 70px;
    border-bottom: 1px solid #d6d4ca;
}

table.mypage-table tbody tr td {
    font-size: 15px;
}

ul.movie-log-list {
    list-style: none;
}

ul.booking-list {
    list-style: none;
}

ul.booking-list li {
    width: 720px;
    height: 240px;
    padding-bottom: 15px;
    border-bottom: 1px solid #d6d4ca;
}

ul.movie-log-list li {
    width: 720px;
    height: 240px;
    padding-bottom: 15px;
    border-bottom: 1px solid #d6d4ca;
}

.booking-info {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

ul.movie-log-list li .article-movie-info {
    margin-top: 30px;
    display: flex;
}

.box-image {
    float: left;
    width: 150px;
    margin-right: 22px;
}

.booking-info .box-image {
    float: left;
    width: 100px;
    margin-right: 22px;
    padding-top: 10px;
}

span.thumb-image {
    display: block;
    position: relative;
}

.box-image img {
    width: 100%;
}

.article-movie-info .box-contents {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    padding-left: 30px;
}

.box-contents .movie-title{
    height: 60px;
}

.box-contents .contents-info{
    border-top: 2px solid gainsboro;
    width: 590px;
    height: 100px;
    display: flex;
    padding-top: 5px;
    flex-wrap: wrap;
}

.box-contents .contents-info div {
    width: 280px;
}

.box-contents .movie-title .movie-title-kr {
    width: 500px;
    font-size: 35px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 60px;
}

.box-contents .movie-title .movie-title-en {
    height: 40px;
    width: 500px;
}


.box-contents .movie-title p {
    margin-left: 3px;
    color: #666;
    width: 500px;
    font-size: 20px;
    font-weight: bold;
}

.box-contents .movie-date {
    margin-top: 50px;
    width: 500px;
    font-size: 20px;
    height: 40px;
}

.box-contents .movie-theater {
    font-size: 20px;
    height: 40px;
}

div.table-pagination {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding-right: 30px;
}
