.login-div {
    text-align: center;
    display: block;
    width: 1500px;
    height: 700px;
    margin: 0 auto;
    position: relative;
    background-color: whitesmoke;
}

.find-div {
    text-align: center;
    display: block;
    width: 1500px;
    height: 700px;
    margin: 0 auto;
    position: relative;
    background-color: whitesmoke;
}

.login-div .login-title {
    width: 400px;
    height: 70px;
    border-bottom: 3px solid #979797;
    font-size: 40px;
    color: #666;
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
}

.login-div .login-box {
    width: 1000px;
    height: 500px;
    margin: 0 auto 0;
    padding: 80px 170px;
}

.find-box {
    width: 700px;
    height: 500px;
    margin: 0 auto 0;
    padding: 80px 170px;
}

.find-id-box{
    height: 200px;
}

.login-div table.login-table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}