.movie-list-div {
}

.wtf {
    display: flex;
    justify-content: center;
}

.coming-soon {
    width: 1300px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.coming-soon .movie-chart{
    text-align: center;
    display: inline-block;
    width: 300px;
    cursor: pointer;
    border-radius: 5px;
}

.coming-soon .movie-chart:hover{
    background-color: gainsboro;

}

.coming-soon .coming-soon-btn {
    text-align: center;
    display: inline-block;
    width: 300px;
    cursor: pointer;
    border-radius: 5px;
}

.coming-soon .coming-soon-btn:hover {
    background-color: gainsboro;
}

.sorting{
    padding-top: 40px;
    width: 1300px;
    height: 80px;
    margin: auto;
    position: relative;
    text-align: center;
}

.toggle-BorA {
    float: left;
}

.sorting .btn-group{
    float: right;
}

.btn-group button{
    width: 100px;
    height: 50px;
    margin-left: 10px;
    border-radius: 5px;
    color: black;
}

.movie-card-list-div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mplist{
    width: 1500px;
    margin: 50px auto 100px;
    /*border: 3px solid red;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-card{
    width: 230px;
    height: 331px;
    float: left;
    border-radius: 10px;
    position : relative;
    background-size: cover;
}

img.movie-card-poster {
    cursor: pointer;
    width: 230px;
    height: 331px;
    border-radius: 10px;
    position : absolute;
}

.movie-card .movie-card-title {
    cursor: pointer;
    position: absolute;
    width: 230px;
    height: 331px;
    border-radius: 10px;
    color: white;
    background-color: black;
    opacity: 0.75;
    font-size: 40px;
    display : flex;
    flex-wrap: wrap;
    justify-content : center;
    align-items : center;
}

.on {
    z-index: 10;
}

.close {
    z-index: -1;
}

.movie-list-items {
    width: 230px;
    height: 400px;
    margin: 50px 50px 50px 70px;
}

.movie-card-text {
    padding-top: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.movie-card-text .tit-area {
    position: relative;
    width: 100%;
    height: 30px;
}

.movie-card-text .tit-area .movie-grade {
    position: absolute;
}

.movie-card-text .tit-area .tit{
    cursor: pointer;
    position: absolute;
    margin-left: 30px;
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1.3333em;
    font-weight: 400;
}

.movie-card-text .rate-date {
    font-size: 14px;
    position: relative;
    width: 100%;
    height: 30px;
}

.movie-card-text .rate-date .rate {
    position: absolute;
}

.movie-card-text .rate-date .date {
    position: absolute;
    margin-left: 95px;
    float: right;
}

.movie-info-hover {
    text-overflow: ellipsis;
    width:200px;
    height: 220px;
    overflow: hidden;
    font-size: 15px;
}

.movie-info-review-star {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 30px;
    font-size: 15px;
    text-align: center;
}