.tktable{
    width: 1500px;
    height: 800px;
    border: 1px solid gray;
    margin-left: 10.5%;
    clear: both;
}

.tkmenu{
    width: 280px;
    height: 70px;
    border: 1px solid gray;
    text-align: center;
    line-height: 65px;
    margin-bottom: 50px;
    float: left;
    background-color: white;
    border: 1px solid gray;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
}

.tkmenu:hover{
    width: 280px;
    height: 70px;
    border: 1px solid gray;
    text-align: center;
    line-height: 65px;
    margin-bottom: 50px;
    float: left;
    background-color: black;
    border: 1px solid gray;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    border-radius: 20px;
}

/*.localList{*/
/*    display: none;*/
/*}*/
/*.calen{*/
/*    display: none;*/
/*}*/
/*.t-table{*/
/*    display: none;*/
/*}*/

.tkmenu2{
    width: 200px;
    height: 70px;
    border: 1px solid gray;
    text-align: center;
    line-height: 65px;
    margin-bottom: 50px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 20px;
    margin: auto;
    justify-content: center;
    display: flex;
}
.movielocation{
    width: 200px;
    height: 500px;
    border: 1px solid gray;
    font-size: 20px;
    text-align: center;
    margin-top: 2%;
    float: left;
}
.tkmenu2:hover{
    width: 200px;
    height: 70px;
    border: 1px solid gray;
    text-align: center;
    line-height: 65px;
    margin-bottom: 50px;
    float: right;
    background-color: black;
    border: 1px solid gray;
    color: white;
    border-radius: 20px;
}

.tkbt{
    width: 10%;
    height: 71px;
    float: right;
}


.selectmv{
    width: 400px;
    height: 500px;
    border: 1px solid gray;
    font-size: 20px;
    text-align: center;
    margin-left: 3%;
    margin-top: 2%;
    float: left;
    overflow: scroll;
}

.selectday{
    width: 400px;
    height: 500px;
    border: 1px solid gray;
    font-size: 70px;
    text-align: center;
    margin-top: 2%;
    float: left;
}

.selecttime{
    width: 400px;
    height: 500px;
    border: 1px solid gray;
    font-size: 70px;
    text-align: center;
    margin-top: 2%;
    float: left;
    overflow: scroll;
}

.selectseat{
    width: 250px;
    height: 110px;
    border: 1px solid gray;
    font-size: 30px;
    text-align: center;
    float: left;
    margin-left: 77%;
    margin-top: 5%;
    background-color: white;
    border-radius: 20px;
}
.selectseat:hover{
    width: 250px;
    height: 110px;
    border: 1px solid gray;
    font-size: 30px;
    text-align: center;
    float: left;
    margin-left: 77%;
    margin-top: 5%;
    background-color: black;
    border-radius: 20px;
    color: white;
}