.time-table{
    background-color: white;
    font-size: 15px;
    border: 1px solid black;
    width: 80px;
    height: 80px;
    text-align: center;
    float: left;
    margin: 5px;
}

.ttt{
    background-color: white;
}

.ttt:focus{
    background-color: gray;
    color: white;
}

/*.ttt:focus{*/
/*    background-color: darkgrey;*/
/*    color:white;*/
/*}*/

.showhide{
    margin-top: 0.5%;
    width: 9%;
    padding: 15px 15px 15px 15px;
    justify-content: center;
    background-color: lightgrey;
    border-radius: 5px;
    color: black;
    position: absolute;
    display: flex;
    opacity: 0;
    transition: all ease 0.5s;


}

.showhide:hover{
    opacity: 0.9;
    margin-top: 0.5%;
}

