.time-table{
    background-color: white;
    font-size: 15px;
    border: 1px solid black;
    width: 80px;
    height: 80px;
    text-align: center;
    float: left;
    margin: 5px;
}

.ttt{
    background-color: white;
}


.ttt:focus{
    background-color: darkgrey;
    color:white;
}